*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none ;
    box-sizing: border-box;
}
body{
    font-family: montserrat;
}
#welcome{
    text-align: center;
}
nav{
    background: #0082e6;
    height: 80px;
    width:100%;
    position: sticky;
    top:0;
  
}
label.logo{
    color: white;
    font-size: 35px;
    line-height: 80px;
    padding: 0 100px;
    font-weight: bold;
    font-family: cursive;
}
nav ul{
    float :right;
    margin-right: 20px;
}
nav ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}
nav ul li a{
    color:white;
    font-size: 17px;
    padding: 7px 13px;
    border-radius: 3px;
    text-transform: uppercase;
}
/* a.active,a:hover{
    background: #1b9bff;
    transition: .5s;
} */
ul li.active{
    background: #1b9bff;
    transition: .5s;
}
.checkbtn{
    font-size: 30px;
    color: white;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}
#check{
    display: none;
}
/* @media all and (min-width:786px) and (max-width: 1024px){
    label.logo{
        font-size: 30px;
        padding-left: 50px;
    }
    nav ul li a{
        font-size: 16px;
    }
} */
@media all and (min-width: 320px) and (max-width: 1024px){
    .checkbtn{
        display: block;
    }
    ul{
        position: fixed;
        width: 50%;
        height: 100vh;
        background: #2c3e50;
        top:80px;
        left: -100%;
        text-align: center;
        transition: all 0.5s;
    }
    nav ul li{
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }
    nav ul li a{
        font-size: 20px;
    }
    /* a:hover,a.active{
        background: none;
        color:#0082e6;
    } */
    ul li.active{
        background: black;
        color: #0082e6;
        color:red
    }
    ul li.active a{
        color:red; 
    }
    #check:checked ~ ul{
        left : 0;
    }
}

.progress-bar{
    position: sticky;
    top:0;
    width: 100%;
    height:1vh;
}
.filled{
    width:0;
    height: 100%;
    background-image: linear-gradient(to right,red,orange);
}

/* hamberger */
#top{
    border:5px solid rgba(red, green, blue, alpha)
}
