*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none ;
    box-sizing: border-box;
    font-family: Ubuntu, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
body{
    font-family: Ubuntu;
}
#welcome{
    text-align: center;
}
nav{
    background: #ffffff;
    height: 80px;
    width:100%;
    position: sticky;
    top:0;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  
}
label.logo{
    color: black;
    font-size: 35px;
    line-height: 80px;
    padding: 0 100px;
    font-weight: bold;
    font-family: cursive;
    
}
nav ul{
    float :right;
    margin-right: 20px;
}
nav ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}
nav ul li a{
    color:#000000;
    font-size: 17px;
    padding: 7px 13px;
    border-radius: 3px;
    text-transform: uppercase;
}
/* a.active,a:hover{
    background: #1b9bff;
    transition: .5s;
} */
ul li.active a{
    /* background: #1b9bff; */
    color: #fd3c37;
    transition: .5s;
}
.checkbtn{
    font-size: 30px;
    color: black;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}
#check{
    display: none;
}
/* @media all and (min-width:786px) and (max-width: 1024px){
    label.logo{
        font-size: 30px;
        padding-left: 50px;
    }
    nav ul li a{
        font-size: 16px;
    }
} */
.close-btn>h1>button{
    display: none;
    /* display: flex;
    justify-content: end; */
}

.progress-bar{
    position: sticky;
    top:0;
    width: 100%;
    height:1vh;
}
.filled{
    width:0;
    height: 100%;
    background-image: linear-gradient(to right,red,orange);
}

/* hamberger */
/* ------------profile Intro------------- */
.profile-intro{
    display: flex;
    justify-content: center;
    
    width: 80%;
    margin: auto;
}
 #left-profile{
    width:70%;
    /* background-color: red; */
    height: 380px;
    /* border: 20px solid green; */
   
}

#right-profile{
    width: 30%;
    margin-left: 20%;
}

#left-profile>h3{
    padding: 27px 0px 0px 0px;
    font-size: 27px;
    text-align: left;
    margin-top: 20%;
}

#left-profile>h1{
    margin-top: 5%;
    font-size: 56px;
}

#right-profile img{
    margin-top: 10%;
    height:40%
}

.container{
    margin-top: 0%;
    
    width:150%
}
  .container .text{
    position: relative;
    color: #4070F4;
    font-size:30px;
    font-weight: 600;
  }
  .container .text.first-text{
    color: black;

  }
  .text.sec-text::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: white;
    border-left: 2px solid #4070F4;
    animation: animate 4s steps(12) infinite;
  }
  @keyframes animate{
    40%,60%{
        left: 100%;
    }
    100%{
        left:0%;
    }
  }




  /* media queries----------------------- */
  @media all and (min-width: 320px) and (max-width: 1024px){
    .checkbtn{
        display: block;
    }
    ul{
        position: fixed;
        width: 100%;
        height: 100vh;
        background: white;
        top:80px;
        left: -100%;
        text-align: center;
        transition: all 0.5s;
    }
    nav ul li{
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }
    nav ul li a{
        font-size: 20px;
    }
    /* a:hover,a.active{
        background: none;
        color:#0082e6;
    } */
    ul li.active{
        background: #ffffff;
        /* color: #0082e6; */
        color: #fd3c37
    }
    ul li.active a{
        color: #fd3c37
    }
    #check:checked ~ ul{
        left : 0;
    }
    .close-btn>h1>button{
        display: block;
        margin-left: 80%;
        margin-top: 20%;
        border-radius: 50%;
        padding:15px;
        font-size: 27px;
        background-color: black;
        color: white;
        font-weight: 100;
    }
    .close-btn>h1{
        display: felx;
        justify-content: end;
    }
    .profile-intro{
        display: flex;
        flex-direction: column-reverse;
    }
    #right-profile{
        width:100%;
        margin-left: none;
        background-color: none;
    }
    #right-profile>img{
        height:auto;
        width:60%
    }
    #left-profile{
        width: 100%;
    }
    label.logo{
        /* display: none; */
        padding:-10px;
        font-size:15px;
    }
    .container{
        width:100%
    }
    .text.sec-text::before{
        content: "";
        
        top: 0;
        left: 0;
        height: 0%;
        width: 0%;
        background-color: white;
        border-left: 2px solid #4070F4;
        animation: animate 4s steps(12) infinite;
      }
      
    
}



